img {
  border-radius: 20px;
  height: 150px;
}

#timer {
  border: 2px, solid black;
  padding: 2px, 2px;
}

.body3 {
  background-color: #F9F7F0;;
}

body {
  background-color: #F9F7F0;;
  color: #2d3e4e;
}

#timeEvent {
  color: #2d3e4e;
}

#start {
  transition-duration: 0.4s;
  background-color: #e09e50;
}

#start:hover,
#timer:hover {
  background-color: #e09e50;
  color: white;
}

#submitBtn {
  background-color: #e09e50;
  color: white;
  border: 2px solid #e09e50;
  padding: 2px 6px;
}

#img {
  border-radius: 50px;
}

.timeUp{ background-color: cadetblue;
  border: 2px solid cadetblue;
  width: 100%;
  height: 100%;
 text-align: center;}

.noAttempt{ background-color: cadetblue;
  border: 2px solid cadetblue;
  width: 100%;
  height: 100%;
 text-align: center;}

.refresh  {
  background-color: cadetblue;
  border: 2px solid cadetblue;
  width: 100%;
  height: 100%;
 text-align: center;
  }

  button{
    border: 1px solid #e09e50;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #e09e50;
    margin-bottom: 5%;
  }

  button:hover {
    background-color: #e09e50;
    color: white;
  }



